<a href="https://colab.research.google.com/github/IvanVoinovGitHub/Covid19-Analysis-Modeling/blob/main/PA-Aggregated-Data/PA_Covid.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import csv
import pandas as pd

In [3]:
#COVID-19 Aggregate Cases Current Daily County Health
url1 = "https://data.pa.gov/api/views/j72v-r42c/rows.csv?accessType=DOWNLOAD"
data1 = pd.read_csv(url1)

In [83]:
#Data Cleaning for Aggregate Cases
data11 = data1.drop(["Latitude", "Georeferenced Lat & Long", "Longitude"], axis =1)
data11.rename(columns = {'County FIPS Code':'FIPS'}, inplace = True)
data11 = data11.dropna()
data11['Date'] = pd.to_datetime(data11['Date'])
data11['Date'] = data11['Date'].dt.strftime('%m/%d/%Y')
data11['Date'] = pd.to_datetime(data11['Date'])
#data11['Date'] = data11['Date'].dt.strftime('%m/%d/%Y')
print(data11.info())
data11.head(10)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 51204 entries, 0 to 51679
Data columns (total 10 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   Jurisdiction                                51204 non-null  object
 1   Date                                        51204 non-null  datetime64[ns]
 2   New Cases                                   51204 non-null  int64
 3   7-day Average New Cases                     51204 non-null  float64
 4   Cumulative cases                            51204 non-null  int64
 5   Population (2019)                           51204 non-null  int64
 6   New Case Rate                               51204 non-null  float64
 7   7-Day Average New Case Rate                 51204 non-null  float64
 8   Cumulative Case Rate                        51204 non-null  float64
 9   FIPS                                        51204 non-null  int64
dtypes: datetime64[ns](1), float64(4), int64(4), object(1)
memory usage: 4.3+ MB
None

,Jurisdiction,Date,New Cases,7-day Average New Cases,Cumulative cases,Population (2019),New Case Rate,7-Day Average New Case Rate,Cumulative Case Rate,FIPS
0,Northumberland,2021-11-23,58,62.4,14479,90843,63.8,68.7,15938.5,42097
1,Northumberland,2021-09-04,22,36.7,10579,90843,24.2,40.4,11645.4,42097
2,Union,2021-10-24,16,26.1,7417,44923,35.6,58.2,16510.5,42119
3,Northumberland,2021-02-24,9,12.6,8002,90843,9.9,13.8,8808.6,42097
4,Northumberland,2021-03-11,19,16.0,8251,90843,20.9,17.6,9082.7,42097
5,Union,2022-01-05,48,40.4,9222,44923,106.8,90.0,20528.5,42119
6,Northumberland,2021-03-19,33,21.9,8422,90843,36.3,24.1,9270.9,42097
7,Armstrong,2021-09-13,73,50.7,6973,64735,112.8,78.3,10771.6,42005
8,Northumberland,2021-09-24,63,46.7,11437,90843,69.4,51.4,12589.9,42097
9,Union,2021-10-16,11,19.7,7224,44923,24.5,43.9,16080.8,42119

In [8]:
#United States COVID-19 County Level of Community Transmission as Originally Posted
url2 = "https://data.cdc.gov/api/views/8396-v7yb/rows.csv?accessType=DOWNLOAD"
data2 = pd.read_csv(url2)

In [95]:
#Data Cleaning for Community Transmission Level 
data22 = data2.query('state_name == "Pennsylvania"')
data22 = data22.drop(["cases_per_100K_7_day_count_change", "state_name", "county_name"], axis = 1)
data22.rename(columns = {'fips_code':'FIPS', 'report_date': 'Date'}, inplace = True)
data22 = data22.dropna()
data22['Date'] = pd.to_datetime(data22['Date'])
data22['Date'] = data22['Date'].dt.strftime('%m/%d/%Y')
data22['Date'] = pd.to_datetime(data22['Date'])
print(data22.info())
data22.head(10)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15142 entries, 6 to 727571
Data columns (total 4 columns):
 #   Column                                              Non-Null Count  Dtype
---  ------                                              --------------  -----
 0   FIPS                                                15142 non-null  int64
 1   Date                                                15142 non-null  datetime64[ns]
 2   percent_test_results_reported_positive_last_7_days  15142 non-null  float64
 3   community_transmission_level                        15142 non-null  object
dtypes: datetime64[ns](1), float64(1), int64(1), object(1)
memory usage: 591.5+ KB
None

,FIPS,Date,percent_test_results_reported_positive_last_7_days,community_transmission_level
6,42039,2021-08-16,7.88,substantial
11,42025,2021-08-16,4.95,high
45,42035,2021-08-19,11.72,high
88,42085,2021-08-23,8.57,high
129,42017,2021-08-26,6.41,high
133,42117,2021-08-26,8.59,substantial
145,42099,2021-08-27,14.56,high
173,42071,2021-08-29,10.43,high
286,42013,2021-09-07,7.46,high
297,42089,2021-09-07,13.63,high

In [14]:
#COVID-19 Vaccinations in the United States,Jurisdiction
url3 = "https://data.cdc.gov/api/views/unsk-b7fc/rows.csv?accessType=DOWNLOAD"
data3 = pd.read_csv(url3)

In [96]:
data33 = data3.query('Location == "PA"')
data33 = data33.drop(["MMWR_week", "Distributed_Janssen", "Distributed_Moderna", "Distributed_Pfizer", "Distributed_Unk_Manuf", "Dist_Per_100K", "Distributed_Per_100k_12Plus", "Distributed_Per_100k_18Plus", "Distributed_Per_100k_65Plus", "Administered_12Plus", "Administered_18Plus", "Administered_65Plus", "Administered_Janssen", "Administered_Moderna", "Administered_Pfizer", "Administered_Unk_Manuf", "Admin_Per_100K", "Admin_Per_100k_12Plus", "Admin_Per_100k_18Plus", "Admin_Per_100k_65Plus", "Recip_Administered", "Administered_Dose1_Recip_12Plus", "Administered_Dose1_Recip_12PlusPop_Pct", "Administered_Dose1_Recip_18Plus", "Administered_Dose1_Recip_18PlusPop_Pct", "Administered_Dose1_Recip_65Plus", "Administered_Dose1_Recip_65PlusPop_Pct", "Series_Complete_12Plus", "Series_Complete_12PlusPop_Pct", "Series_Complete_18Plus", "Series_Complete_18PlusPop_Pct", "Series_Complete_65Plus", "Series_Complete_65PlusPop_Pct", "Series_Complete_Janssen", "Series_Complete_Moderna", "Series_Complete_Pfizer", "Series_Complete_Unk_Manuf", "Series_Complete_Janssen_12Plus", "Series_Complete_Moderna_12Plus", "Series_Complete_Pfizer_12Plus", "Series_Complete_Unk_Manuf_12Plus", "Series_Complete_Janssen_18Plus", "Series_Complete_Moderna_18Plus", "Series_Complete_Pfizer_18Plus", "Series_Complete_Unk_Manuf_18Plus", "Series_Complete_Janssen_65Plus", "Series_Complete_Moderna_65Plus", "Series_Complete_Pfizer_65Plus", "Series_Complete_Unk_Manuf_65Plus", "Additional_Doses_12Plus", "Additional_Doses_12Plus_Vax_Pct", "Additional_Doses_18Plus", "Additional_Doses_18Plus_Vax_Pct", "Additional_Doses_50Plus", "Additional_Doses_50Plus_Vax_Pct", "Additional_Doses_65Plus", "Additional_Doses_65Plus_Vax_Pct", "Additional_Doses_Moderna", "Additional_Doses_Pfizer", "Additional_Doses_Janssen", "Additional_Doses_Unk_Manuf", "Administered_Dose1_Recip_5Plus", "Administered_Dose1_Recip_5PlusPop_Pct", "Series_Complete_5Plus", "Series_Complete_5PlusPop_Pct", "Administered_5Plus", "Admin_Per_100k_5Plus", "Series_Complete_Moderna_5Plus", "Series_Complete_Pfizer_5Plus", "Series_Complete_Janssen_5Plus", "Series_Complete_Unk_Manuf_5Plus"], axis =1)
data33['Date'] = pd.to_datetime(data33['Date'])
data33['Date'] = data33['Date'].dt.strftime('%m/%d/%Y')
data33['Date'] = pd.to_datetime(data33['Date'])
data33 = data33.drop('Location', axis =1)
print(data33.info())
data33.head(10)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 472 entries, 46 to 30472
Data columns (total 10 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Date                        472 non-null    datetime64[ns]
 1   Distributed                 472 non-null    int64
 2   Administered                472 non-null    int64
 3   Administered_Dose1_Recip    472 non-null    int64
 4   Administered_Dose1_Pop_Pct  472 non-null    float64
 5   Series_Complete_Yes         472 non-null    int64
 6   Series_Complete_Pop_Pct     472 non-null    float64
 7   Additional_Doses            220 non-null    float64
 8   Additional_Doses_Vax_Pct    467 non-null    float64
 9   Distributed_Per_100k_5Plus  465 non-null    float64
dtypes: datetime64[ns](1), float64(5), int64(4)
memory usage: 40.6 KB
None

,Date,Distributed,Administered,Administered_Dose1_Recip,Administered_Dose1_Pop_Pct,Series_Complete_Yes,Series_Complete_Pop_Pct,Additional_Doses,Additional_Doses_Vax_Pct,Distributed_Per_100k_5Plus
46,2022-03-30,29378125,22357701,10755145,84.0,8651206,67.6,3620861.0,41.9,242713.0
117,2022-03-29,29360025,22350739,10752947,84.0,8649469,67.6,3618489.0,41.8,242563.0
148,2022-03-28,29338425,22345972,10751281,84.0,8648165,67.6,3616714.0,41.8,242385.0
215,2022-03-27,29338425,22334165,10746758,83.9,8645882,67.5,3612306.0,41.8,242385.0
294,2022-03-26,29338425,22333948,10746564,83.9,8645789,67.5,3612196.0,41.8,242385.0
323,2022-03-25,29319025,22323987,10743163,83.9,8643588,67.5,3608912.0,41.8,242225.0
386,2022-03-24,29296925,22314165,10740003,83.9,8640788,67.5,3605549.0,41.7,242042.0
452,2022-03-23,29279925,22297051,10734463,83.8,8636075,67.5,3599651.0,41.7,241902.0
532,2022-03-22,29237225,22289088,10731771,83.8,8633384,67.4,3597261.0,41.7,241549.0
603,2022-03-21,29237225,22286111,10730724,83.8,8632599,67.4,3596075.0,41.7,241549.0

In [106]:
#Merge First Two Data Tables
final_data1 = pd.merge(left = data11, right = data22, how = 'outer', on = ['FIPS', 'Date'])
final_data1 = final_data1.sort_values(by='Jurisdiction') 
final_data1 = final_data1.dropna()

final_data = pd.merge(left = final_data1, right = data33, how = 'outer', on = 'Date')
final_data = final_data.dropna()
final_data.sort_values(by=['Jurisdiction', 'Date'])

,Jurisdiction,Date,New Cases,7-day Average New Cases,Cumulative cases,Population (2019),New Case Rate,7-Day Average New Case Rate,Cumulative Case Rate,FIPS,...,community_transmission_level,Distributed,Administered,Administered_Dose1_Recip,Administered_Dose1_Pop_Pct,Series_Complete_Yes,Series_Complete_Pop_Pct,Additional_Doses,Additional_Doses_Vax_Pct,Distributed_Per_100k_5Plus
402,Adams,2021-08-23,28.0,26.0,10393.0,103009.0,27.2,25.2,10089.4,42001.0,...,high,17370885,15172755,8756622,68.4,6954691,54.3,0.0,0.0,0.0
1943,Adams,2021-08-24,26.0,27.3,10419.0,103009.0,25.2,26.5,10114.7,42001.0,...,high,17370885,15190103,8766124,68.5,6962263,54.4,0.0,0.0,0.0
8241,Adams,2021-08-25,32.0,27.9,10451.0,103009.0,31.1,27.0,10145.7,42001.0,...,high,17421485,15218928,8781535,68.6,6974946,54.5,0.0,0.0,0.0
2345,Adams,2021-08-26,37.0,28.9,10488.0,103009.0,35.9,28.0,10181.6,42001.0,...,high,17625235,15253030,8799978,68.7,6989211,54.6,0.0,0.0,0.0
7236,Adams,2021-08-27,51.0,33.9,10539.0,103009.0,49.5,32.9,10231.1,42001.0,...,high,17739485,15292961,8822710,68.9,7004761,54.7,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14940,York,2022-03-26,12.0,15.1,118360.0,449058.0,2.7,3.4,26357.4,42133.0,...,moderate,29338425,22333948,10746564,83.9,8645789,67.5,3612196.0,41.8,242385.0
9848,York,2022-03-27,8.0,15.1,118368.0,449058.0,1.8,3.4,26359.2,42133.0,...,moderate,29338425,22334165,10746758,83.9,8645882,67.5,3612306.0,41.8,242385.0
3483,York,2022-03-28,11.0,14.6,118379.0,449058.0,2.4,3.2,26361.6,42133.0,...,moderate,29338425,22345972,10751281,84.0,8648165,67.6,3616714.0,41.8,242385.0
8776,York,2022-03-29,10.0,13.3,118389.0,449058.0,2.2,3.0,26363.9,42133.0,...,moderate,29360025,22350739,10752947,84.0,8649469,67.6,3618489.0,41.8,242563.0
5493,York,2022-03-30,27.0,14.7,118416.0,449058.0,6.0,3.3,26369.9,42133.0,...,moderate,29378125,22357701,10755145,84.0,8651206,67.6,3620861.0,41.9,242713.0

In [107]:
print(final_data.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13869 entries, 0 to 15141
Data columns (total 21 columns):
 #   Column                                              Non-Null Count  Dtype
---  ------                                              --------------  -----
 0   Jurisdiction                                        13869 non-null  object
 1   Date                                                13869 non-null  datetime64[ns]
 2   New Cases                                           13869 non-null  float64
 3   7-day Average New Cases                             13869 non-null  float64
 4   Cumulative cases                                    13869 non-null  float64
 5   Population (2019)                                   13869 non-null  float64
 6   New Case Rate                                       13869 non-null  float64
 7   7-Day Average New Case Rate                         13869 non-null  float64
 8   Cumulative Case Rate                                13869 non-null  float64
 9   FIPS                                                13869 non-null  float64
 10  percent_test_results_reported_positive_last_7_days  13869 non-null  float64
 11  community_transmission_level                        13869 non-null  object
 12  Distributed                                         13869 non-null  int64
 13  Administered                                        13869 non-null  int64
 14  Administered_Dose1_Recip                            13869 non-null  int64
 15  Administered_Dose1_Pop_Pct                          13869 non-null  float64
 16  Series_Complete_Yes                                 13869 non-null  int64
 17  Series_Complete_Pop_Pct                             13869 non-null  float64
 18  Additional_Doses                                    13869 non-null  float64
 19  Additional_Doses_Vax_Pct                            13869 non-null  float64
 20  Distributed_Per_100k_5Plus                          13869 non-null  float64
dtypes: datetime64[ns](1), float64(14), int64(4), object(2)
memory usage: 2.3+ MB
None